<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/new_tree.css">
    <style>
        .flash_message{
            color: red;
        }
    </style>
</head>
<body background="/static/images/background.jpeg">
    <div class="container">
        <div class="nav-bar">
            <div class="left-nav">
                <h1 class="site-title">Arbotrary</h1>
                <p>A site to track randomly planted trees!</p>
            </div>
            <div class="middle-nav">
                <img class="tree-pic" src="/static/images/tree_image_2.png" alt="">
            </div>
            <div class="right-nav">
                <h1 class="users_name">Welcome {{user.first_name}} {{user.last_name}}</h1>
                <div class="nav-buttons">
                    <a class="nav-button" href="/trees/user">My Trees!</a>
                    <a class="nav-button" href="/trees">Home</a>
                    <a class="nav-button" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-page">
        <form action="/trees/update/submit/{{tree.id}}" method="post" class="new-tree-form">
            <div class="flash_message">
                {% with messages = get_flashed_messages() %}    
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <h2 class="text-center">Edit {{tree.species}}</h2>
            <input type="hidden" name="id" value="{{tree.id}}">
            <div class="form-group">
                <label for="species">Species:</label>
                <input type="text" name="species" class="form-control" value="{{tree.species}}">
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <textarea name="location" id="location" class="form-control">{{tree.location}}</textarea>
            </div>
            <div class="form-group">
                <label for="reason">Reason:</label>
                <textarea name="reason" id="reason" class="form-control">{{tree.reason}}</textarea>
            </div>
            <div class="form-group">
                <label for="date_planted">Date Planted:</label>
                <input type="date" id="date_made" name="date_planted" value="{{tree.date_planted}}">
            </div>
            <input type="submit" value="Update Tree"
            class="btn btn-success">
        </form>
    </div>
</body>
</html>